@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css?family=Trirong');
@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    background-image: url(http://www.transparenttextures.com/patterns/xv.png);
}
