@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css?family=Trirong');
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    background-color: #0096cc;

    min-height: 100vh;
    background-image: url("https://www.transparenttextures.com/patterns/white-wall-3-2.png");
    margin: 0;

}

.profile-info{
    font-family: "Poppins", serif;

}

.owner{
    font-family:'Sevillana', cursive;
}

.owner:hover {
    cursor: pointer;
    color: darkblue;
}